example/android/** linguist-vendored
example/ios/** linguist-vendored
example/linux/** linguist-vendored
example/macos/** linguist-vendored
example/web/** linguist-vendored
example/windows/** linguist-vendored
